<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/icon_rank.png" type="image/png">
    <title>哔哩哔哩排行榜</title>
    <style>
        ul li {
            list-style-type: square;
            color: #0099ff;
            font-size: 16px;
            line-height: 30px;
        }
        ul li a {
            color: #333;
            font-size: 14px;
        }
        ul li:hover {
            color: #ff6900;
        }
        ul li:hover a {
            color: #ff6900;
        }
    </style>
</head>
<body>
    <!-- content_inject -->
</body>
</html>